<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from nest-frontend-v6.netlify.app/blog-category-big by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 10 Mar 2024 08:58:08 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8" />
    <title>Nest - Multipurpose eCommerce HTML Template</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="imgs/theme/favicon.svg" />
    <!-- Template CSS -->
    <link rel="stylesheet" href="css/main5103.css?v=6.0" />
</head>

<body>
    <%- include("components/header/header") %>
    <div class="mobile-header-active mobile-header-wrapper-style">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-top">
                <div class="mobile-header-logo">
                    <a href='index'><img src="imgs/theme/logo.svg" alt="logo" /></a>
                </div>
                <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                    <button class="close-style search-close">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            <div class="mobile-header-content-area">
                <div class="mobile-search search-style-3 mobile-header-border">
                    <form action="#">
                        <input type="text" placeholder="Search for items…" />
                        <button type="submit"><i class="fi-rs-search"></i></button>
                    </form>
                </div>
                <div class="mobile-menu-wrap mobile-header-border">
                    <!-- mobile menu start -->
                    <nav>
                        <ul class="mobile-menu font-heading">
                            <li class="menu-item-has-children">
                                <a href='index'>Home</a>
                                <ul class="dropdown">
                                    <li><a href='index'>Home 1</a></li>
                                    <li><a href='index-2'>Home 2</a></li>
                                    <li><a href='index-3'>Home 3</a></li>
                                    <li><a href='index-4'>Home 4</a></li>
                                    <li><a href='index-5'>Home 5</a></li>
                                    <li><a href='index-6'>Home 6</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href='shop-grid-right'>shop</a>
                                <ul class="dropdown">
                                    <li><a href='shop-grid-right'>Shop Grid – Right Sidebar</a></li>
                                    <li><a href='shop-grid-left'>Shop Grid – Left Sidebar</a></li>
                                    <li><a href='shop-list-right'>Shop List – Right Sidebar</a></li>
                                    <li><a href='shop-list-left'>Shop List – Left Sidebar</a></li>
                                    <li><a href='shop-fullwidth'>Shop - Wide</a></li>
                                    <li class="menu-item-has-children">
                                        <a href="#">Single Product</a>
                                        <ul class="dropdown">
                                            <li><a href='shop-product-right'>Product – Right Sidebar</a></li>
                                            <li><a href='shop-product-left'>Product – Left Sidebar</a></li>
                                            <li><a href='shop-product-full'>Product – No sidebar</a></li>
                                            <li><a href='shop-product-vendor'>Product – Vendor Infor</a></li>
                                        </ul>
                                    </li>
                                    <li><a href='shop-filter'>Shop – Filter</a></li>
                                    <li><a href='shop-wishlist'>Shop – Wishlist</a></li>
                                    <li><a href='shop-cart'>Shop – Cart</a></li>
                                    <li><a href='shop-checkout'>Shop – Checkout</a></li>
                                    <li><a href='shop-compare'>Shop – Compare</a></li>
                                    <li class="menu-item-has-children">
                                        <a href="#">Shop Invoice</a>
                                        <ul class="dropdown">
                                            <li><a href='shop-invoice-1'>Shop Invoice 1</a></li>
                                            <li><a href='shop-invoice-2'>Shop Invoice 2</a></li>
                                            <li><a href='shop-invoice-3'>Shop Invoice 3</a></li>
                                            <li><a href='shop-invoice-4'>Shop Invoice 4</a></li>
                                            <li><a href='shop-invoice-5'>Shop Invoice 5</a></li>
                                            <li><a href='shop-invoice-6'>Shop Invoice 6</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">Vendors</a>
                                <ul class="dropdown">
                                    <li><a href='vendors-grid'>Vendors Grid</a></li>
                                    <li><a href='vendors-list'>Vendors List</a></li>
                                    <li><a href='vendor-details-1'>Vendor Details 01</a></li>
                                    <li><a href='vendor-details-2'>Vendor Details 02</a></li>
                                    <li><a href='vendor-dashboard'>Vendor Dashboard</a></li>
                                    <li><a href='vendor-guide'>Vendor Guide</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">Mega menu</a>
                                <ul class="dropdown">
                                    <li class="menu-item-has-children">
                                        <a href="#">Women's Fashion</a>
                                        <ul class="dropdown">
                                            <li><a href='shop-product-right'>Dresses</a></li>
                                            <li><a href='shop-product-right'>Blouses & Shirts</a></li>
                                            <li><a href='shop-product-right'>Hoodies & Sweatshirts</a></li>
                                            <li><a href='shop-product-right'>Women's Sets</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">Men's Fashion</a>
                                        <ul class="dropdown">
                                            <li><a href='shop-product-right'>Jackets</a></li>
                                            <li><a href='shop-product-right'>Casual Faux Leather</a></li>
                                            <li><a href='shop-product-right'>Genuine Leather</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">Technology</a>
                                        <ul class="dropdown">
                                            <li><a href='shop-product-right'>Gaming Laptops</a></li>
                                            <li><a href='shop-product-right'>Ultraslim Laptops</a></li>
                                            <li><a href='shop-product-right'>Tablets</a></li>
                                            <li><a href='shop-product-right'>Laptop Accessories</a></li>
                                            <li><a href='shop-product-right'>Tablet Accessories</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href='blog-category-fullwidth'>Blog</a>
                                <ul class="dropdown">
                                    <li><a href='blog-category-grid'>Blog Category Grid</a></li>
                                    <li><a href='blog-category-list'>Blog Category List</a></li>
                                    <li><a href='blog-category-big'>Blog Category Big</a></li>
                                    <li><a href='blog-category-fullwidth'>Blog Category Wide</a></li>
                                    <li class="menu-item-has-children">
                                        <a href="#">Single Product Layout</a>
                                        <ul class="dropdown">
                                            <li><a href='blog-post-left'>Left Sidebar</a></li>
                                            <li><a href='blog-post-right'>Right Sidebar</a></li>
                                            <li><a href='blog-post-fullwidth'>No Sidebar</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href='page-about-2'>About Us</a></li>
                                    <li><a href='page-contact'>Contact</a></li>
                                    <li><a href='page-account'>My Account</a></li>
                                    <li><a href='page-login'>Login</a></li>
                                    <li><a href='page-register'>Register</a></li>
                                    <li><a href='page-forgot-password'>Forgot password</a></li>
                                    <li><a href='page-reset-password'>Reset password</a></li>
                                    <li><a href='page-purchase-guide'>Purchase Guide</a></li>
                                    <li><a href='page-privacy-policy'>Privacy Policy</a></li>
                                    <li><a href='page-terms'>Terms of Service</a></li>
                                    <li><a href='page-404'>404 Page</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">Language</a>
                                <ul class="dropdown">
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">French</a></li>
                                    <li><a href="#">German</a></li>
                                    <li><a href="#">Spanish</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <!-- mobile menu end -->
                </div>
                <div class="mobile-header-info-wrap">
                    <div class="single-mobile-header-info">
                        <a href='page-contact'><i class="fi-rs-marker"></i> Our location </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href='page-login'><i class="fi-rs-user"></i>Log In / Sign Up </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="#"><i class="fi-rs-headphones"></i>(+01) - 2345 - 6789 </a>
                    </div>
                </div>
                <div class="mobile-social-icon mb-50">
                    <h6 class="mb-15">Follow Us</h6>
                    <a href="#"><img src="imgs/theme/icons/icon-facebook-white.svg" alt="" /></a>
                    <a href="#"><img src="imgs/theme/icons/icon-twitter-white.svg" alt="" /></a>
                    <a href="#"><img src="imgs/theme/icons/icon-instagram-white.svg" alt="" /></a>
                    <a href="#"><img src="imgs/theme/icons/icon-pinterest-white.svg" alt="" /></a>
                    <a href="#"><img src="imgs/theme/icons/icon-youtube-white.svg" alt="" /></a>
                </div>
                <div class="site-copyright">Copyright 2024 © Nest. All rights reserved. Powered by AliThemes.</div>
            </div>
        </div>
    </div>
    <!--End header-->
    <main class="main">
        <div class="page-header mt-30 mb-75">
            <div class="container">
                <div class="archive-header">
                    <div class="row align-items-center">
                        <div class="col-xl-3">
                            <h1 class="mb-15">Blog & News</h1>
                            <div class="breadcrumb">
                                <a href='index' rel='nofollow'><i class="fi-rs-home mr-5"></i>Home</a>
                                <span></span> Blog & News
                            </div>
                        </div>
                        <div class="col-xl-9 text-end d-none d-xl-block">
                            <ul class="tags-list">
                                <li class="hover-up">
                                    <a href='blog-category-grid'><i class="fi-rs-cross mr-10"></i>Shopping</a>
                                </li>
                                <li class="hover-up active">
                                    <a href='blog-category-grid'><i class="fi-rs-cross mr-10"></i>Recips</a>
                                </li>
                                <li class="hover-up">
                                    <a href='blog-category-grid'><i class="fi-rs-cross mr-10"></i>Kitchen</a>
                                </li>
                                <li class="hover-up">
                                    <a href='blog-category-grid'><i class="fi-rs-cross mr-10"></i>News</a>
                                </li>
                                <li class="hover-up mr-0">
                                    <a href='blog-category-grid'><i class="fi-rs-cross mr-10"></i>Food</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-content mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-10 col-md-12 m-auto">
                        <div class="shop-product-fillter mb-50">
                            <div class="totall-product">
                                <h2>
                                    <img class="w-36px mr-10" src="imgs/theme/icons/category-1.svg" alt="" />
                                    Recips Articles
                                </h2>
                            </div>
                            <div class="sort-by-product-area">
                                <div class="sort-by-cover mr-10">
                                    <div class="sort-by-product-wrap">
                                        <div class="sort-by">
                                            <span><i class="fi-rs-apps"></i>Show:</span>
                                        </div>
                                        <div class="sort-by-dropdown-wrap">
                                            <span> 50 <i class="fi-rs-angle-small-down"></i></span>
                                        </div>
                                    </div>
                                    <div class="sort-by-dropdown">
                                        <ul>
                                            <li><a class="active" href="#">50</a></li>
                                            <li><a href="#">100</a></li>
                                            <li><a href="#">150</a></li>
                                            <li><a href="#">200</a></li>
                                            <li><a href="#">All</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="sort-by-cover">
                                    <div class="sort-by-product-wrap">
                                        <div class="sort-by">
                                            <span><i class="fi-rs-apps-sort"></i>Sort:</span>
                                        </div>
                                        <div class="sort-by-dropdown-wrap">
                                            <span>Featured <i class="fi-rs-angle-small-down"></i></span>
                                        </div>
                                    </div>
                                    <div class="sort-by-dropdown">
                                        <ul>
                                            <li><a class="active" href="#">Featured</a></li>
                                            <li><a href="#">Newest</a></li>
                                            <li><a href="#">Most comments</a></li>
                                            <li><a href="#">Release Date</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="loop-grid loop-big">
                            <div class="row">
                                <article class="first-post mb-30 hover-up animated" style="visibility: visible">
                                    <div class="position-relative overflow-hidden">
                                        <span class="top-left-icon"><i class="fi-rs-headphones"></i></span>
                                        <div class="post-thumb border-radius-15">
                                            <a href='blog-post-right'>
                                                <img class="border-radius-15" src="imgs/blog/blog-16.png" alt="" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="entry-content">
                                        <h2 class="post-title mb-20">
                                            <a href='blog-post-right'>Enjoy My Favourite Molten Chocolate Cake in This Autumn </a>
                                        </h2>
                                        <p class="post-exerpt font-medium text-muted mb-30">TAliquam hendrerit lorem mi nunc sit aliquam nec leo, ut integer nisi, iaculis dictumst at diam libero, elit pharetra morbi urna nunc, et at nisl, pellentesque massa nec. Aenean ullamcorper eu augue vitae tempor. Suspendisse potenti. Nulla facilisi. Sed venenatis mollis lacinia.</p>
                                        <div class="mb-20 entry-meta meta-2">
                                            <div class="entry-meta meta-1 mb-30">
                                                <div class="font-sm">
                                                    <span><span class="mr-10 text-muted"><i class="fi-rs-eye"></i></span>23k</span>
                                                    <span class="ml-30"><span class="mr-10 text-muted"><i class="fi-rs-comment-alt"></i></span>17k</span>
                                                    <span class="ml-30"><span class="mr-10 text-muted"><i class="fi-rs-share"></i></span>18k</span>
                                                </div>
                                            </div>
                                            <a class='btn btn-sm' href='blog-post-right'>Read more<i class="fi-rs-arrow-right ml-10"></i></a>
                                        </div>
                                    </div>
                                </article>
                                <article class="first-post mb-30 hover-up animated" style="visibility: visible">
                                    <div class="position-relative overflow-hidden">
                                        <span class="top-left-icon"><i class="fi-rs-headphones"></i></span>
                                        <div class="post-thumb border-radius-15">
                                            <a href='blog-post-right'>
                                                <img class="border-radius-15" src="imgs/blog/blog-17.png" alt="" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="entry-content">
                                        <h2 class="post-title mb-20">
                                            <a href='blog-post-right'>The Intermediate Guide to Healthy Food Sticky Ginger Rice</a>
                                        </h2>
                                        <p class="post-exerpt font-medium text-muted mb-30">TAliquam hendrerit lorem mi nunc sit aliquam nec leo, ut integer nisi, iaculis dictumst at diam libero, elit pharetra morbi urna nunc, et at nisl, pellentesque massa nec. Aenean ullamcorper eu augue vitae tempor. Suspendisse potenti. Nulla facilisi. Sed venenatis mollis lacinia.</p>
                                        <div class="mb-20 entry-meta meta-2">
                                            <div class="entry-meta meta-1 mb-30">
                                                <div class="font-sm">
                                                    <span><span class="mr-10 text-muted"><i class="fi-rs-eye"></i></span>23k</span>
                                                    <span class="ml-30"><span class="mr-10 text-muted"><i class="fi-rs-comment-alt"></i></span>17k</span>
                                                    <span class="ml-30"><span class="mr-10 text-muted"><i class="fi-rs-share"></i></span>18k</span>
                                                </div>
                                            </div>
                                            <a class='btn btn-sm' href='blog-post-right'>Read more<i class="fi-rs-arrow-right ml-10"></i></a>
                                        </div>
                                    </div>
                                </article>
                                <article class="first-post mb-30 hover-up animated" style="visibility: visible">
                                    <div class="position-relative overflow-hidden">
                                        <span class="top-left-icon"><i class="fi-rs-headphones"></i></span>
                                        <div class="post-thumb border-radius-15">
                                            <a href='blog-post-right'>
                                                <img class="border-radius-15" src="imgs/blog/blog-18.png" alt="" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="entry-content">
                                        <h2 class="post-title mb-20">
                                            <a href='blog-post-right'>Harissa Chickpeas with Whipped Feta Sticky Ginger</a>
                                        </h2>
                                        <p class="post-exerpt font-medium text-muted mb-30">TAliquam hendrerit lorem mi nunc sit aliquam nec leo, ut integer nisi, iaculis dictumst at diam libero, elit pharetra morbi urna nunc, et at nisl, pellentesque massa nec. Aenean ullamcorper eu augue vitae tempor. Suspendisse potenti. Nulla facilisi. Sed venenatis mollis lacinia.</p>
                                        <div class="mb-20 entry-meta meta-2">
                                            <div class="entry-meta meta-1 mb-30">
                                                <div class="font-sm">
                                                    <span><span class="mr-10 text-muted"><i class="fi-rs-eye"></i></span>23k</span>
                                                    <span class="ml-30"><span class="mr-10 text-muted"><i class="fi-rs-comment-alt"></i></span>17k</span>
                                                    <span class="ml-30"><span class="mr-10 text-muted"><i class="fi-rs-share"></i></span>18k</span>
                                                </div>
                                            </div>
                                            <a class='btn btn-sm' href='blog-post-right'>Read more<i class="fi-rs-arrow-right ml-10"></i></a>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="pagination-area mt-15 mb-sm-5 mb-lg-0">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-start">
                                    <li class="page-item">
                                        <a class="page-link" href="#"><i class="fi-rs-arrow-small-left"></i></a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item active"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                                    <li class="page-item"><a class="page-link" href="#">6</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#"><i class="fi-rs-arrow-small-right"></i></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include("components/footer/footer") %>
    <!-- Preloader Start -->
    <%- include("components/preloader/preloader") %>
    <!-- Vendor JS-->
    <script src="js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="js/vendor/jquery-3.6.0.min.js"></script>
    <script src="js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="js/vendor/bootstrap.bundle.min.js"></script>
    <script src="js/plugins/slick.js"></script>
    <script src="js/plugins/jquery.syotimer.min.js"></script>
    <script src="js/plugins/wow.js"></script>
    <script src="js/plugins/perfect-scrollbar.js"></script>
    <script src="js/plugins/magnific-popup.js"></script>
    <script src="js/plugins/select2.min.js"></script>
    <script src="js/plugins/waypoints.js"></script>
    <script src="js/plugins/counterup.js"></script>
    <script src="js/plugins/jquery.countdown.min.js"></script>
    <script src="js/plugins/images-loaded.js"></script>
    <script src="js/plugins/isotope.js"></script>
    <script src="js/plugins/scrollup.js"></script>
    <script src="js/plugins/jquery.vticker-min.js"></script>
    <script src="js/plugins/jquery.theia.sticky.js"></script>
    <script src="js/plugins/jquery.elevatezoom.js"></script>
    <!-- Template  JS -->
    <script src="js/main5103.js?v=6.0"></script>
    <script src="js/shop5103.js?v=6.0"></script>
</body>


<!-- Mirrored from nest-frontend-v6.netlify.app/blog-category-big by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 10 Mar 2024 08:58:10 GMT -->
</html>